
!title Common Table

lap_home=/humgen/diabetes/users/tgreen/lap/
plink_cmd=/broad/software/free/Linux/redhat_6_x86_64/pkgs/plink2_1.90b3.32/bin/plink
smart_join_cmd=perl $common_bin_dir/smart_join.pl
smart_cut_cmd=perl $common_bin_dir/smart_cut.pl

#====================================
#CLASSES

class project=Project

class dataset=Dataset parent project

class variant_category=VariantCategroy parent project

class overlap=Overlap parent variant_category



#CLASSES
#====================================

#====================
#DIRECTORIES
lap_trunk=$lap_home/trunk
lap_projects=$lap_home/projects
common_bin_dir=$lap_projects/common
!include $lap_trunk/config/common.cfg

sortable mkdir path projects_dir=$unix_out_dir/projects
sortable mkdir path project_dir=$projects_dir/@project class_level project

sortable mkdir path source_dir=/humgen/diabetes/users/tgreen/projects/metal class_level project
sortable mkdir path metal_script_dir=$project_dir/scripts class_level project
sortable mkdir path metal_results_dir=$project_dir/results class_level project
sortable mkdir path metal_images_dir=$project_dir/images class_level project

sortable mkdir path phenotype_dir=/humgen/diabetes/users/mvg/portal/scripts/VARIANTS/PHENOTYPES/@dataset/T2D/DATA class_level dataset
sortable mkdir path metal_in_dir=$project_dir/metal_in class_level dataset

##/humgen/diabetes/users/tgreen/metal/out/projects/experiment2/results

#DIRECTORIES
#====================



var_prefix=/humgen/diabetes/users/tgreen/metal/out/projects/experiment2/results/METAANALYSIS_overlap_@{overlap}_@{variant_category} class_level overlap
var_four_way_prefix=/humgen/diabetes/users/tgreen/metal/out/projects/experiment2/results/METAANALYSIS_overlap_@{overlap}_@{variant_category}_fourway class_level overlap
var_four_one_prefix=/humgen/diabetes/users/tgreen/metal/out/projects/experiment2/results/METAANALYSIS_overlap_four_one_@{overlap}_@{variant_category} class_level overlap
var_overlap=@{overlap} class_level overlap
var_overlap_plot_title="QQ @{variant_category} @{overlap}" class_level overlap
var_four_one_overlap_plot_title="QQ Four One @{variant_category} @{overlap}" class_level overlap
var_dataset=@{dataset} class_level dataset
prop number_of_samples=scalar
prop maf=scalar
prop overlap_property=scalar

#====================
#FILES

#====================
#PROJECT
#NEW_VARIANT_FILE
#REFORMAT_MULTI_ALLELE_VARIANT_FILE

file path metal_out=METAANALYSIS_overlap_@{overlap}_@{variant_category}1.tbl dir metal_results_dir disp " " class_level overlap comment " "
metal_plot_label="ALL Five -log10(p) @{overlap}_@{variant_category}"  class_level overlap comment " "

file path metal_four_way_out=METAANALYSIS_overlap_four_one_@{overlap}_@{variant_category}1.tbl dir metal_results_dir disp " " class_level overlap comment " "
metal_four_way_plot_label="Four Plus One -log10(p) @{overlap}_@{variant_category}" class_level overlap comment " "



file path metal_top_variants=METAANALYSIS_overlap_@{overlap}_@{variant_category}1.top_variants dir metal_results_dir disp " " class_level overlap comment " "
file path dataset_qq_plot_png=@{dataset}.png dir metal_images_dir disp " " class_level dataset comment " "
file path qq_plot_png=METAANALYSIS_overlap_@{overlap}_@{variant_category}.png  dir metal_images_dir disp " " class_level overlap comment " "
file path four_one_qq_plot_png=METAANALYSIS_overlap_four_one_@{overlap}_@{variant_category}.png  dir metal_images_dir disp " " class_level overlap comment " "
file path metal_in=@{dataset}.T2D.1.txt.IN dir metal_in_dir disp " " class_level project comment " "

file path metal_script=sample_size_overlap_@{overlap}_@{variant_category}.@{project}.metal dir metal_script_dir class_level overlap
file path metal_script_check=sample_size_overlap_@{overlap}_@{variant_category}.@{project}.metal.chk dir metal_script_dir class_level overlap

file path four_way_metal_script_check=sample_size_overlap_@{overlap}_@{variant_category}.@{project}.metal.four_way.chk dir metal_script_dir class_level overlap
file path four_one_metal_script_check=sample_size_overlap_@{overlap}_@{variant_category}.@{project}.metal.four_one.chk dir metal_script_dir class_level overlap

file path four_way_metal_script=sample_size_overlap_@{overlap}_@{variant_category}.@{project}.fourway.metal dir metal_script_dir class_level overlap
file path four_one_metal_script=sample_size_overlap_@{overlap}_@{variant_category}.@{project}.four_one.metal dir metal_script_dir class_level overlap

#PROJECT
#====================

#====================
#DATASET
file path phenotype_file=@{dataset}.T2D.1.txt dir phenotype_dir class_level dataset
#DATASET
#====================

short cmd parse_phenotype_file=cat !{input,,phenotype_file} | perl -slane '{if(\$.==1){print "A1 A2 N @F";next;}(\$chr,\$pos,\$a1,\$a2)=split(/\_/,\$F[0]); print join(" ",\$a1,\$a2,\$N,@F)}' -- -N=!{prop,,dataset,number_of_samples}  > !{output,,metal_in} class_level dataset

short cmd dataset_qq_plot=xvfb-run --server-args="-screen 0 1024x768x24" /broad/software/free/Linux/redhat_6_x86_64/pkgs/r_2.10.1/bin/Rscript ./qq_plot.R !{input,,metal_in} !{output,,dataset_qq_plot_png} "!{raw,,dataset,$var_dataset}" class_level dataset

#------------

short cmd make_metal_scripts=perl make_metal_script.pl --prefix !{raw,,overlap,$var_prefix} --suffix .tbl --scheme SAMPLESIZE --overlap !{raw,,overlap,$var_overlap} --maf !{prop,,variant_category,maf} \
--root !{raw,,project,$metal_in_dir} \
--dataset ExSeq_19k_dv2.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_FIRTH_FE_IV:N \
--dataset ExSeq_26k_dv2.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_FIRTH_FE_IV:N \
--dataset ExSeq_52k_dv2.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_FIRTH_FE_IV:N \
--dataset ExChip_ExTexT2D_dv1.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_VALUE:N \
--dataset GWAS_DIAGRAM_dv3.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_VALUE:N \
> !{output,,metal_script} class_level overlap


short cmd make_four_way_metal_scripts=perl make_metal_script.pl --prefix !{raw,,overlap,$var_four_way_prefix} --suffix .tbl --scheme SAMPLESIZE --overlap !{raw,,overlap,$var_overlap} --maf !{prop,,variant_category,maf} \
--root !{raw,,project,$metal_in_dir} \
--dataset ExSeq_19k_dv2.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_FIRTH_FE_IV:N \
--dataset ExSeq_26k_dv2.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_FIRTH_FE_IV:N \
--dataset ExSeq_52k_dv2.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_FIRTH_FE_IV:N \
--dataset ExChip_ExTexT2D_dv1.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_VALUE:N \
> !{output,,four_way_metal_script} class_level overlap

short cmd make_four_one_metal_script=perl make_metal_script.pl --prefix !{raw,,overlap,$var_four_one_prefix} --suffix .tbl --scheme SAMPLESIZE --overlap !{raw,,overlap,$var_overlap}  \
--root !{raw,,project,$metal_in_dir}  \
--dataset !{raw,,overlap,$var_four_way_prefix}1.tbl:MarkerName:Allele1-Allele2:MAF_PH:P-value:Weight:1 \
--dataset GWAS_DIAGRAM_dv3.T2D.1.txt.IN:VAR_ID:A1-A2:MAF_PH:P_VALUE:N \
>!{output,,four_one_metal_script} class_level overlap

short cmd run_metal=perl /humgen/diabetes/users/tgreen/projects/metal/run_metal.pl !{input,,metal_script} > !{output,,metal_script_check} class_level overlap

short cmd run_four_way_metal=perl /humgen/diabetes/users/tgreen/projects/metal/run_metal.pl !{input,,four_way_metal_script} > !{output,,four_way_metal_script_check} class_level overlap

short cmd run_four_one_metal=perl /humgen/diabetes/users/tgreen/projects/metal/run_metal.pl !{input,,four_one_metal_script} > !{output,,four_one_metal_script_check} class_level overlap

short cmd qq_plot=xvfb-run --server-args="-screen 0 1024x768x24" /broad/software/free/Linux/redhat_6_x86_64/pkgs/r_2.10.1/bin/Rscript ./qq_plot.R !{input,,metal_out} !{output,,qq_plot_png} !{raw,,overlap,$var_overlap_plot_title} class_level overlap

short cmd qq_plot_four_one=xvfb-run --server-args="-screen 0 1024x768x24" /broad/software/free/Linux/redhat_6_x86_64/pkgs/r_2.10.1/bin/Rscript ./qq_plot_xy.R  \
!{input,,metal_out} !{input,,metal_four_way_out} !{output,,four_one_qq_plot_png} !{raw,,overlap,$var_four_one_overlap_plot_title} \
!{raw,,overlap,$metal_plot_label} !{raw,,overlap,$metal_four_way_plot_label} \
class_level overlap

#short cmd top_variant_table=sort -g -k6  !{input,,metal_out} 

short cmd top_variants_table=sort  --temporary-directory=/humgen/diabetes/users/tgreen/TMPSORT -g -k!{raw,,overlap,6,if_prop=overlap:eq:OFF,allow_empty=1}!{raw,,overlap,7,if_prop=overlap:eq:ON,allow_empty=1} !{input,,metal_out}  >!{output,,metal_top_variants} class_level overlap
